html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;

    /* Disable scroll and long taps for IOS */
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    text-align: center; /* Center body content */
}

#unity-container {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Disable canvas focusing (key presses) */
#unity-canvas:focus {
    outline: none;
}

#unity-canvas {
    width: 100%;
    height: 100%;
    background: linear-gradient(30deg, #9A1FE6FF 30%, #009EFF 100%);
    display: block;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-progress {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loading-progress-bar {
    width: 30%;
    height: 24px;
    margin: 10px 20px 20px 10px;
    text-align: left;
    border: 1px solid white;
    padding: 2px;
    border-color: #46E854B0;
    border-radius: 12px;
}

#loading-progress-bar-filler {
    width: 25%;
    height: 100%;
    transition: width 0.5s ease;
    background: #46E854FF;
    border-radius: 10px;
}

.loading-progress-spinner, .loading-progress-spinner:after {
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

.loading-progress-spinner {
    margin: 10px;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid #46E85430;
    border-right: 1.1em solid #46E85430;
    border-bottom: 1.1em solid #46E85430;
    border-left: 1.1em solid #46E854FF;
    transform: translateZ(0);
    animation: loading-progress-spinner-spin 1.1s infinite linear;
}

@keyframes loading-progress-spinner-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#error-overlay {
    position: absolute;
    background: #FFFFFF;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}